<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Sap Business One 10</a>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink='/home' routerLinkActive="active">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink='/items' routerLinkActive="active">Items</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink='/cards' routerLinkActive="active">Cards</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" aria-current="page" (click)="logout()">Logout</a>
        </li>


      </ul>


      <form #loginForm="ngForm" class="d-flex m-2" (ngSubmit)="login()" autocomplete="off" >
        <input name="username" [(ngModel)]="loginParams.UserName" class="form-control mr-sm-2" type="text" placeholder="Username">
        <input name="password" [(ngModel)]="loginParams.Password" class="form-control mr-sm-2" type="password" placeholder="Password">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
      </form>


    </div>
  </div>
</nav>
